{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="confirmation">

  <div class="description">
      Exporting the item(s) will download the metadata in the specified format.
  </div>

  <div class="export-format-options-title">
    Format
  </div>
  <div class="export-format-options-dropdown"></div>

  <div class="selections">
    <button class="is-negative export-cancel" data-help="Cancel.">
        <span class="mainText">Cancel</span>
    </button>
    <button class="is-positive export-confirm" data-help="This will export the item(s) metadata in the specified format.">
        <span class="mainText">Export</span>
    </button>
  </div>

  <div class="large-item-text">
    <span>Large items may take a long time to export.</span>
  </div>
</div>