@{customElementNamespace}metacard-interactions {

  .metacard-interaction,
  .interaction-icon,
  .interaction-text {
    line-height: @minimumButtonSize;
    height: @minimumButtonSize;
  }

  .metacard-interaction {
    white-space: nowrap;
    padding: 0px 10px;
    cursor: pointer;
    overflow: hidden;
  }

  .interaction-icon {
    text-align: center;
    width: @minimumButtonSize;
  }

  .interaction-icon,
  .interaction-text {
    display: inline-block;
  }

  .metacard-interaction:hover,
  .metacard-interaction.is-active {
    background: @lighten-inherited-background-color;
  }

  .interaction-save,
  .interaction-unsave,
  .interaction-show,
  .interaction-share {
    display: none;
  }

  .download-cached {
    background: @positive-color;
    border-radius: @border-radius;
    .is-bold();
    padding: 5px;
    margin-left: 15px;
  }
}

@{customElementNamespace}metacard-interactions.in-workspace {
  .interaction-save {
    display: block;
  }
}

@{customElementNamespace}metacard-interactions.is-saved {
  .interaction-unsave {
    display: block;
  }
  .interaction-save {
    display: none;
  }
}

@{customElementNamespace}metacard-interactions.is-multiple {
  .interaction-expand,
  .interaction-share {
    display: none;
  }
}

@{customElementNamespace}metacard-interactions.is-routed {
  .interaction-expand {
    display: none;
  }
}

@{customElementNamespace}metacard-interactions.is-blacklisted {

  .interaction-show {
    display: block;
  }

  .interaction-hide {
    display: none;
  }
}

@{customElementNamespace}metacard-interactions.is-deleted,
@{customElementNamespace}metacard-interactions.is-workspace,
@{customElementNamespace}metacard-interactions.is-revision {
  .interaction-download {
    display: none;
  }
}

// restricted if revisions, remote items, or deleted items are in the list
.is-editing-restricted @{customElementNamespace}metacard-interactions,
@{customElementNamespace}metacard-interactions.is-revision,
@{customElementNamespace}metacard-interactions.is-remote,
@{customElementNamespace}metacard-interactions.is-deleted,
@{customElementNamespace}metacard-interactions:not(.is-archive-allowed) {
  .interaction-archive {
    display: none;
  }
}

// restricted if anything but deleted items are in the list
.is-editing-restricted @{customElementNamespace}metacard-interactions,
@{customElementNamespace}metacard-interactions.is-resource,
@{customElementNamespace}metacard-interactions.is-workspace,
@{customElementNamespace}metacard-interactions.is-mixed,
@{customElementNamespace}metacard-interactions.is-revision,
@{customElementNamespace}metacard-interactions.is-remote,
@{customElementNamespace}metacard-interactions:not(.is-restore-allowed) {
  .interaction-archive-restore {
    display: none;
  }
}

// restricted if revisions or remote items are in the list
.is-editing-restricted @{customElementNamespace}metacard-interactions,
@{customElementNamespace}metacard-interactions.is-revision,
@{customElementNamespace}metacard-interactions.is-remote,
@{customElementNamespace}metacard-interactions:not(.is-perm-delete-allowed) {
  .interaction-delete {
    display: none;
  }
}

// restricted if revisions, remote items, workspaces, or already offlined items are in the list
.is-editing-restricted @{customElementNamespace}metacard-interactions,
@{customElementNamespace}metacard-interactions.is-revision,
@{customElementNamespace}metacard-interactions.is-workspace,
@{customElementNamespace}metacard-interactions.is-remote,
@{customElementNamespace}metacard-interactions.is-offlined,
@{customElementNamespace}metacard-interactions:not(.is-offline-allowed) {
  .interaction-offline {
    display: none;
  }
}

// restricted if revisions, remote items, online items or workspaces items are in the list
.is-editing-restricted @{customElementNamespace}metacard-interactions,
@{customElementNamespace}metacard-interactions.is-revision,
@{customElementNamespace}metacard-interactions.is-workspace,
@{customElementNamespace}metacard-interactions.is-remote,
@{customElementNamespace}metacard-interactions:not(.is-offline-allowed),
@{customElementNamespace}metacard-interactions:not(.is-offlined) {
  .interaction-edit-offline-comment {
    display: none;
  }
}

@{customElementNamespace}metacard-interactions:not(.is-download-enabled) {
 .is-download-enabled {
   opacity: 0.4;
   pointer-events: none;
 }
}

