@{customElementNamespace}export {
  .customElement;
  background: @card-background-color;

  .export-content {
    display: inline-block;
    width: 100%;
    height: ~'calc(100vh - 2*@{minimumLineSize})';
    overflow: hidden;
  }

  .export-status-container {
    padding: @largeSpacing;
    overflow: auto;
    height: ~'calc((100vh - 2*@{minimumLineSize}) / 2)';

    > * {
      transition: width @coreTransitionTime linear;
      width: 75%;
      margin: auto;
    }

    .export-status-title {
      display: inline-block;
      font-size: @mediumFontSize;
    }

    .export-location {
      display: inline-block;
      opacity: @minimumOpacity;
      font-size: @minimumFontSize;
    }
  }

  .export-search-container {
    background: @background-color;
    border-bottom: 1px solid @borderColor;
    padding: @largeSpacing;
    height: ~'calc((100vh - 2*@{minimumLineSize}) / 2)';
    overflow: hidden;

    > * {
      transition: width @coreTransitionTime linear;
      width: 75%;
      margin: auto;
    }

    .export-title-container {
      > * {
        display: inline-block;
      }

      .export-custom-title {
        float: right;
      }
    }

    .export-custom-container {
      height: 0%;
      display: none;
      > * {
        display: inline-block;
      }

      .input {
        width: 25%;
      }

      .warning{
        color: yellow;
      }

      .export-custom-warning {
        width: ~'calc(50% - 10px)';
        padding-left: @largeSpacing;
        vertical-align: middle;
      }
    }

    .export-search-list {
      height: ~'calc(((100vh - 2*@{minimumLineSize}) / 2) - 3*@{minimumSpacing} - 2*@{largeSpacing} - @{minimumButtonSize})';
      overflow-x: hidden;
      border: 1px solid @borderColor;
      margin-top: @minimumSpacing;
    }

    button {
      float: right;
      padding-left: @minimumSpacing;
      padding-right: @minimumSpacing;
      margin-top: @minimumSpacing;
      transition: opacity @coreTransitionTime linear;

      &.disabled {
        pointer-events: none;
        opacity: .25;
      }
    }
  }

  .is-custom {
    display: none;
  }

  &.is-custom {
    .is-custom {
      display: inline-block;
    }
    .not-custom {
      display: none;
    }
    .export-custom-container {
      display: block;
      height: ~'calc(3*@{minimumButtonSize})';
    }
    .export-search-list {
      margin-top: 0;
      height: ~'calc(((100vh - 2*@{minimumLineSize}) / 2) - 2*@{minimumSpacing} - 2*@{largeSpacing} - 4*@{minimumButtonSize})';
    }
  }

  @media screen and (max-width: 1500px) {
    .export-status-container, .export-search-container {

      > * {
        width: 100%;
      }

    }
  }

}