{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="export-menu"/>

<div class="export-content">

    <div class="export-search-container">
        <div class="export-title-container">
            <div class="export-title">
                Local Content to Export
            </div>
            <div class="export-custom-title is-button">
                Custom Export Settings
                <span class="fa fa-caret-up is-custom"/>
                <span class="fa fa-caret-down not-custom"/>
            </div>
        </div>

        <div class="export-custom-container">
            <div class="export-custom-type input"/>
            <div class="export-custom-format input"/>
            <div class="export-custom-warning">
                <span class="fa fa-exclamation warning"/>
                Please note, only the export format titled “Backup Format” is able to be reimported <b>without data loss</b>.
            </div>
        </div>

        <div class="export-search-list"/>
        <div>
            <button class="is-positive export-button disabled" data-help="Export">
                <span class="mainText">Export</span>
            </button>
        </div>
    </div>

    <div class="export-status-container">
        <div class="export-status-content">
            <div class="title-container">
                <div class="export-status-title">
                Export Status
            </div>
                <div class="export-location"/>
                <div class="completed-exports">
                    Show completed exports
                    <input class="showCompleted" type="checkbox" checked/>
                </div>
            </div>
            <div class="export-status-list"/>
        </div>
    </div>

</div>