@{customElementNamespace}export {
  .customElement;
  background: @card-background-color;

  .export-content {
    display: inline-block;
    width: 100%;
    height: ~'calc(100% - 2*@{minimumLineSize})';
    overflow: hidden;
  }

  .export-search-container {
    background: @background-color;
    border-bottom: 1px solid @borderColor;
    padding: @largeSpacing;
    height: 50%;
    overflow: hidden;

    > * {
      transition: width @coreTransitionTime linear;
      width: 75%;
      margin: auto;
    }

    .export-title-container {
      border-bottom: 1px solid @borderColor;
      height: ~'calc(@{largeSpacing} + @{minimumSpacing})';

      .export-title {
        font-size: @mediumFontSize;
      }
      > * {
        display: inline-block;
      }

      .export-title {
        font-size: @mediumFontSize;
      }

      .export-custom-title {
        float: right;

        span {
          margin-left: @minimumSpacing;
        }
      }
    }

    .export-custom-container {
      height: 0%;
      display: none;
      padding: @minimumSpacing;

      input[type="radio"] {
        vertical-align: middle;
        margin-top: 0px;
        margin-right: @minimumSpacing;
      }

      input[type="radio"]:focus {
        box-shadow: none !important;
      }

      label {
        cursor: pointer;
      }

      .export-full-fidelity {
        vertical-align: top;
        display: inline-block;
        width: 35%;
      }

      .export-custom {
         vertical-align: top;
         display: inline-block;
         width: 65%;

         .export-custom-options {

            > * {
              display: inline-block;
            }
         }
      }

      .input {
        width: 50%;
      }

      .warning{
        color: yellow;
        margin-right: @minimumSpacing !important;
      }

      .export-custom-warning {
        vertical-align: middle;
        margin: @minimumSpacing;

        span {
          margin-right: @minimumSpacing;
        }
      }
    }

    .export-search-list {
      height: ~'calc(100% - @{minimumButtonSize})';
      margin-top: 0px;
    }
  }

  .is-custom {
    display: none;
  }

  &.is-custom {

    .is-custom {
      display: inline-block;
    }

    .not-custom {
      display: none;
    }

    .export-custom-container {
      display: block;
      height: ~'calc(2*@{minimumSpacing} + @{mediumSpacing} + 3*@{minimumButtonSize})';
    }

    .export-search-list {
      margin-top: 0;
      height: ~'calc(100% - 2*@{largeSpacing} - @{mediumSpacing} - 3*@{minimumButtonSize})';
    }
  }
  .export-status-container {
    padding: @largeSpacing;
    overflow: hidden;
    height: 50%;
    > * {
      transition: width @coreTransitionTime linear;
      width: 75%;
      margin: auto;
    }
    .title-container {
      width: 100%;
      * {
        display: inline-block;
      }
      .export-status-title {
        font-size: @mediumFontSize;
      }
      .export-location {
        opacity: @minimumOpacity;
        font-size: @minimumFontSize;
      }
      .completed-exports {
        opacity: @minimumOpacity;
        font-size: @minimumFontSize;
        float: right;
      }
      input {
        height: 1rem;
        float: left;
        margin-right: 5px;
      }

      input:focus {
        box-shadow: none;
      }
    }
    .export-status-list {
      border-top: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      margin-top: @minimumSpacing;
      max-height: ~'calc(((100vh - 2*@{minimumLineSize}) / 2) - @{minimumSpacing} - 2*@{largeSpacing} - @{minimumButtonSize})';
    }
  }
  
  @media screen and (max-width: 1500px) {
    .export-status-container, .export-search-container {

      > * {
        width: 100%;
      }

    }
  }
}

@{customElementNamespace}property {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
