{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="confirmation">

  <div class="description">
      Moving the item(s) offline will move the content to an external storage location. The content will no longer be accessible from the catalog.
  </div>

  <div class="offline-comment">
     Offlining comment:
     <textarea id="comment" rows="4" placeholder="Describe the final archive location of the content..."></textarea>
  </div>

  <div class="selections">
    <button class="is-negative offline-cancel" data-help="Cancel.">
        <span class="mainText">Cancel</span>
    </button>
    <button class="is-positive offline-confirm" data-help="This will move the item(s)' content to the offline storage.">
        <span class="mainText">Offline Content</span>
    </button>
  </div>

  <div class="large-item-text">
    <span>Large items may take some time to move.</span>
  </div>
</div>