{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="import-menu"/>
<div class="import-content">
    <div class="import-files">
        <div class="import-file-list"/>
        <div class="button is-positive import"/>
    </div>
    <div class="import-status">
        <div class="import-status-title">
            Import status
        </div>
        <div class="import-location"/>
        <div class="completed-imports"/>
        <div class="import-status-list"/>
    </div>
</div>