{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="import-menu"/>

<div class="import-content">
    <div class="import-files-container">
        <div class="title-container">
            <div class="import-files-title">
                File(s) to Import
            </div>
            <span class="refresh fa fa-refresh is-button"/>
        </div>
        <div class="import-file-list"/>
        <div>
            <button class="is-positive import-button disabled" data-help="Import">
                <span class="mainText">Import</span>
            </button>
        </div>
    </div>

    <div class="import-status-container">
        <div class="import-status-content">
            <div class="title-container">
                <div class="import-status-title">
                    Import Status
                </div>
                <div class="import-location"/>
                <div class="completed-imports">
                    Show completed imports
                    <input class="showCompleted" type="checkbox" checked/>
                </div>
            </div>
            <div class="import-status-list"/>
        </div>
    </div>

</div>