@{customElementNamespace}import-tasks {
    .customElement;

    > .title-container {
        height: @minimumButtonSize;
        white-space: nowrap;
        > * {
          display: inline-block;
        }
    
          .import-status-title {
            font-size: @mediumFontSize;
          }
    
          .import-location {
            margin-left: @minimumSpacing;
            opacity: @minimumOpacity;
            font-size: @minimumFontSize;
          }
    
          .completed-imports {
            opacity: @minimumOpacity;
            font-size: @minimumFontSize;
            float: right;
          }

          .showCompleted {
            cursor: pointer;
          }
    
          input {
            height: 1rem;
            float: left;
            margin-right: 5px;
          }
    }
    > .tasks-container {
        height: ~'calc(100% - @{minimumButtonSize})';
        .info {
            margin-left: @minimumSpacing;
        }
    }
}